.btn {
    &-primary {
        border-radius: 10rem;
        background-color: var(--color-primary-500);
        border: none;
        font-weight: 600;
        padding: 0.625rem 2rem;
        font-size: 1rem;

        &:hover:not(:disabled) {
            cursor: pointer;
            background-color: var(--color-primary-600);
        }

        &:disabled {
            color: var(--color-gray-600);
            background-color: var(--color-primary-100);
            cursor: not-allowed;
        }
    }

    &-full-width {
        width: 100%;
    }


}