.btn {
    &-primary {
        border-radius: 10rem;
        background-color: var(--color-primary-500);
        border: none;
        font-size: 0.875rem;
        font-weight: 600;
        padding: 0.5rem 2rem;

        &:hover {
            cursor: pointer;
            background-color: var(--color-primary-600);
        }
    }

    &-full-width {
        width: 100%;
    }
}