.input {
  font-size: 0.875rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-gray-600);
  padding: 0.5rem 0;
  outline: none;
  color: var(--color-white-one)
}

.input:focus {
  transition: 0.5s;
  border-bottom-color: var(--color-gray-800);
}

.input::placeholder {
  color: var(--color-gray-700);
}