.shade {
    position: absolute;
    border-radius: 50%;

    &-1 {
        top: -30rem;
        left: 30%;
        transform: rotate(-40deg);
        z-index: 1;
        width: 20rem;
        height: 100rem;
        background-image: radial-gradient(hsla(200, 100%, 45%, 0.15) 2%, transparent 70%);
    }

    &-2 {
        top: -10rem;
        left: 40%;
        transform: rotate(-40deg);
        z-index: 1;
        width: 20rem;
        height: 60rem;
        background-image: radial-gradient(hsla(295, 100%, 25%, 0.25) 2%, transparent 70%);
    }

    &-3 {
        top: -10rem;
        left: 62%;
        transform: rotate(-40deg);
        z-index: 1;
        width: 14rem;
        height: 50rem;
        background-image: radial-gradient(hsla(40, 100%, 45%, 0.25) 2%, transparent 70%);
    }

    &-4 {
        top: -38rem;
        left: 54%;
        transform: rotate(-40deg);
        z-index: 1;
        width: 18rem;
        height: 60rem;
        background-image: radial-gradient(hsla(275, 100%, 45%, 0.25) 2%, transparent 70%);
    }
}