.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    padding: 2rem;


    &-form {
        display: flex;
        justify-content: center;
        flex: 1;
        margin: 0;
        padding: 0;
        z-index: 1;

        &-content {
            flex: 1;
            gap: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            max-width: 42rem;
            margin-bottom: 4rem;


            &-title {
                font-size: 3rem;
                font-weight: 800;
                margin: 0;
                color: var(--color-white-two);
            }

            &-description {
                font-size: 1.125rem;
                color: var(--color-gray-900);
                margin: 0 0 2rem;
            }
        }

        &-error {
            font-size: 0.875rem;
            color: var(--color-primary-500);
        }
    }

}

.abstract-line_svg__abstract-line {
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: -45%;
    left: 0;
}