.select {
    font-size: 0.875rem;
    color: var(--color-white-one);
    outline: none;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--color-gray-600);
    padding: 0.5rem 0;

    option {
        background-color: var(--color-gray-200);
        padding: 0.5rem 0;
    }
}