html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font);
    color: var(--color-white-one);
    height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

input,
button {
    font-family: var(--font);
}